<div class="profile-info">
  <h1><%= @user.username.capitalize %>'s Account Page</h1>
  <hr>
</div>

<%= link_to "Add an Idea", new_idea_path, class: "btn btn-primary" %>
<% if @user.admin? %>
  <%= link_to "Categories Admin", categories_path, class: "btn btn-warning" %>
  <%= link_to "Images Admin", images_path, class: "btn btn-warning" %>
<% end %>
<hr>

<div class="ideas">
  <% @user.categories.uniq.each do |category| %>
    <h1><%= category.name %></h1>
    <% @category_ideas = @user.ideas.where(category_id: category.id) %>
    <%= render 'users/ideas_table' %>
  <% end %>
  <br>
</div>
