<div class="profile-info">
  <h1><%= @user.username.capitalize %>'s Account Page</h1>
  <hr>
</div>

<div class="ideas">
  <table class="table table-bordered">
    <tr>
      <th>Title</th><th>Actions</th>
    </tr>
    <% @ideas.each do |idea| %>
    <tr>
      <td><%= link_to idea.title, idea_path(idea), class: "idea-title" %></td>
      <td>
        <%= link_to edit_idea_path(idea), class: "btn btn-success" do %>
          <i class="glyphicon glyphicon-pencil"></i>
        <% end %>
        <%= link_to idea_path(idea), method: :delete, class: "btn btn-danger" do %>
          <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
  <%= link_to "Add an Idea", new_idea_path, class: "btn btn-primary" %>
</div>
